In [5]:
import numpy as np 
import pandas as pd
import plotly.express as px

In [6]:
data=pd.read_csv('../data/hospital_readmissions.csv')

In [7]:
data.shape

(25000, 17)

In [8]:
data.head()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                25000 non-null  object
 1   time_in_hospital   25000 non-null  int64
 2   n_lab_procedures   25000 non-null  int64
 3   n_procedures       25000 non-null  int64
 4   n_medications      25000 non-null  int64
 5   n_outpatient       25000 non-null  int64
 6   n_inpatient        25000 non-null  int64
 7   n_emergency        25000 non-null  int64
 8   medical_specialty  25000 non-null  object
 9   diag_1             25000 non-null  object
 10  diag_2             25000 non-null  object
 11  diag_3             25000 non-null  object
 12  glucose_test       25000 non-null  object
 13  A1Ctest            25000 non-null  object
 14  change             25000 non-null  object
 15  diabetes_med       25000 non-null  object
 16  readmitted         25000 non-null  object
dtypes: int64(7), object(10)
memory usage: 3.2+ MB

In [10]:
data.describe()

,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency
count,25000.00000,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,4.45332,43.24076,1.352360,16.252400,0.366400,0.615960,0.186600
std,3.00147,19.81862,1.715179,8.060532,1.195478,1.177951,0.885873
min,1.00000,1.00000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2.00000,31.00000,0.000000,11.000000,0.000000,0.000000,0.000000
50%,4.00000,44.00000,1.000000,15.000000,0.000000,0.000000,0.000000
75%,6.00000,57.00000,2.000000,20.000000,0.000000,1.000000,0.000000
max,14.00000,113.00000,6.000000,79.000000,33.000000,15.000000,64.000000

In [11]:
data[data['diag_1']=='Missing']

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
8273,[60-70),5,31,2,25,0,0,0,Other,Missing,Other,Other,no,no,yes,yes,no
13759,[80-90),3,3,0,8,2,0,2,Missing,Missing,Other,Diabetes,no,no,no,yes,yes
18721,[70-80),1,12,2,10,0,0,0,Other,Missing,Diabetes,Circulatory,no,no,no,yes,yes
22984,[80-90),8,62,0,13,0,0,0,Missing,Missing,Circulatory,Respiratory,no,no,yes,yes,no

# Data Cleaning

In [12]:
df_clean=data.copy()

In [13]:
df_clean['medical_specialty']=df_clean['medical_specialty'].replace('Missing','Unknown')

In [14]:
df_clean['diag_1']=df_clean['diag_1'].replace('Missing',np.nan)
df_clean['diag_2']=df_clean['diag_2'].replace('Missing',np.nan)
df_clean['diag_3']=df_clean['diag_3'].replace('Missing',np.nan)

In [15]:
df_clean['diag_3'].unique()

array(['Other', 'Circulatory', 'Diabetes', 'Respiratory', 'Injury',
       'Musculoskeletal', 'Digestive', nan], dtype=object)

In [16]:
df_clean.dropna(subset = ['diag_1','diag_2','diag_3'],inplace=True)

In [17]:
df_clean['diag_1'].isnull().sum()

np.int64(0)

In [18]:
import os
import pandas as pd

folder_path = os.path.join("..", "data")
file_name = "hospital_readmission_clean.csv"
file_path = os.path.join(folder_path, file_name)

os.makedirs(folder_path, exist_ok=True)

if not os.path.exists(file_path):
    df_clean.to_csv(file_path, index=False)